body {
  font-family: Garamond, sans-serif;
  background-color: #36465d;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.error {
  color: red;
}

/*userpage styling*/
.welcome {
  font-size: 2em;
  text-align: center;
}

.form-group {
  margin: 30px auto;
  width: 50%;
  font-size: 1.5em;
}

.form-control {
  float: left;
}

.form-group button {
  font-size: 0.75em;
  margin: 0em 35%;
}

.form-group button:hover {
  background-color: lightgreen;
}

/* all post styling */
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.all_post_container {
  color: #001a33;
  display: flex;
  flex-flow: column-reverse wrap;
  width: 100%;
  margin-left: 1em;
  justify-content: space-around;
}

aside {
  height: 100%;
  width: 15em; /* Set the width of the sidebar */
  background-color: #001a33;
  padding: 2em;
  color: white;
}

.filter {
  color: white;
}

.filter:hover {
  color: #ffd700;
}

.post {
  color: black;
  width: 85%;
  border: grey solid 2px;
  padding: 1em;
  margin: 1em;
  background-color: white;
  border-radius: 10px;
}

.post img {
  max-width: 100%;
  max-height: em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*navbar*/
.main h1 {
  padding-left: 1em;
  color: white;
}

.main nav {
  padding-right: 1em;
}

.nav_button {
  color: white;
  padding: 1em;
  font-weight: bold;
}

.nav_button:hover {
  color: #ffd700;
}

.black {
  background-color: #001a33;
}

/*singleProduct*/

.single_item {
  display: flex;
  flex-flow: row nowrap;
  font-size: 2em;
}

.single_item img {
  width: 15em;
  margin: 1em;
  padding: 1em;
}

.single_item input {
  width: 5em;
}

.single_item p {
  padding-right: 1em;
}

/*signup & login pages*/

.login_box {
  display: block;
  margin: 10% 20%;
  border: black solid 3px;
  padding: 1em;
  font-size: 1.5em;
}

.login_box button {
  font-size: 0.9em;
}

.login_box input {
  font-size: 0.8em;
}

.login_box a {
  text-align: center;
  color: black;
}

.login_box a:hover {
  color: green;
}

.login_box button:hover {
  background-color: lightgreen;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Garamond, sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 22px;
}

form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
}

input,
select,
textarea {
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input {
  padding: 5px;
}

input:hover,
textarea:hover,
select:hover {
  outline: none;
  border: 1px solid #095484;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.item i {
  left: 94%;
  top: 30px;
  z-index: 1;
}

.btn-block {
  margin-top: 20px;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-family: Garamond;
}

button:hover {
  background-color: #0666a3;
}
